/* .buscador{
    position:absolute;
    margin-left: 8px;
} */

.imput{
    width: 300px;
    height: 40px;
    padding: 0px 20px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
    outline: none;
    border: 2px solid rgb(208, 248, 150);
    border-radius: 30px;
}

.btn{
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
    background: rgba(32, 211, 251, 0.916);
    width: 80px;
    height: 38px;
    line-height: 10px;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    border-color: greenyellow;
    cursor: pointer;
}

